// begin header 
header.header
    .header__container.container
        // begin toggle 
        .toggle
            .toggle__sandwich
                .toggle__sandwich-line.top
                .toggle__sandwich-line.middle
                .toggle__sandwich-line.bottom
            .toggle__text Меню
        // end toggle 
        // begin navigation 
        nav.navigation.header__nav
            ul.navigation__list
                li.navigation__item
                    a.navigation__link(href="/") Личная информация
                li.navigation__item
                    a.navigation__link(href="/") Опыт
                li.navigation__item
                    a.navigation__link(href="/") JavaScript
                li.navigation__item
                    a.navigation__link(href="/") О себе
        // end navigation 
// end header 