doctype html
html(lang='ru')
	head
		title Template
		include ../modules/head

	body

		// begin wrapper
		.wrapper

			include ../modules/header

			include ../modules/main

		// end wrapper
		include ../modules/footer


		// scripts 
		include ../modules/scripts